APP__SERVICE_NAME="otel-fastapi-example"
APP__ENVIRONMENT="dev"
APP__VERSION="otel-python"
APP__LOG_LEVEL="info"
APP__DOC_TITLE="OTEL FastAPI Example"

OTEL__TRACE_EXPORTER="console"
OTEL__METRIC_EXPORTER="console"
OTEL__LOG_EXPORTER="console"

#OTEL__TRACE_EXPORTER="otlp"
#OTEL__METRIC_EXPORTER="otlp"
#OTEL__LOG_EXPORTER="otlp"

OTEL__OTLP_ENABLED=true
OTEL__OTLP_ENDPOINT="http://localhost:4317"
OTEL__OTLP_HEADERS=""
OTEL__OTLP_INSECURE=true
OTEL__TRACES_BATCHED=true
OTEL__PROMETHEUS_ENABLED=true
OTEL__SERVICE_NAMESPACE="${APP__SERVICE_NAME}"

LOGGER__NAME="${APP__SERVICE_NAME}-logger"
LOGGER__LEVEL="${APP__LOG_LEVEL}"
LOGGER__FORMAT="%(message)s"

OTEL_PYTHON_LOG_CORRELATION=true
OTEL_PYTHON_LOG_LEVEL=info